<table class="table table-bordered">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên công việc</th>
        <th>Người thực hiện</th>
        <th>Trạng thái</th>
        <th>Ưu tiên</th>
        <th>Thời hạn</th>
        <th>Hoàn thành</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jobContents of contents">
            <td>{{jobContents.id}}</td>
            <td>{{jobContents.jobName}}</td>
            <td>{{jobContents.performer}}</td>
            <td>{{jobContents.state}}</td>
            <td>{{jobContents.priority}}</td>
            <td>{{jobContents.duration}}</td>
            <td>{{jobContents.completedDate}}</td>
        </tr>
    </tbody>
</table>