h1 {
    color: #ff1404;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
}

li {
    float: left;
}

/* .horizontal {
    margin: 15px;
} */

.all-job {
    background-color: blue;
}

.all-job:hover {
    background-color: royalblue;
}

.out-of-date-job {
    background-color: #ff1404;
}

.out-of-date-job:hover {
    background-color: tomato;
}

.completed-job {
    background-color: aqua;
}

.completed-job:hover {
    background-color: turquoise;
}

.completed-before-job {
    background-color: blueviolet;
}

.completed-before-job:hover {
    background-color: violet;
}

.height {
    height: 100px;
    width: 350px;
    margin: 5px;
}

.job-table-content {
    width: 1100px;
    margin-left: 30px;
}

.report-form {
    padding: 10px;
    border: black 1px solid;
}