<div class="content">
    <h2>Employee management</h2>
    <div class="table-content">
        <div>
            <div class="add-new col-lg-12">
            <img class="add-icon" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/add-circle-green-128.png"
                width="20" height="20" />
            <label class="add-label" [routerLink]="['new']">Add employee</label>
            </div>
            <div class="col-lg-4 search-content">
                <label for="search">Search</label>
                <input type="text" class="search-input" name="search" (keyup)="onKey($event)" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>User name</th>
                    <th>Sex</th>
                    <th>Country</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th class="center-align">Edit</th>
                    <th class="center-align">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.userName}}</td>
                    <td>{{employee.sex}}</td>
                    <td>{{employee.country}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.department}}</td>
                    <td class="center-align">
                        <img [routerLink]="[employee.id, 'edit']" class="edit-icon" src="https://www.iconsdb.com/icons/preview/green/pencil-xxl.png"
                            height="20" width="20" />
                    </td>
                    <td class="center-align">
                        <img class="edit-icon" src="https://cdn2.iconfinder.com/data/icons/e-business-helper/240/627249-delete3-256.png"
                            height="20" width="20" (click)="delete(employee.id)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>